.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  padding-left: 5%;
  padding-right: 5%;
}

.logo-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  width: 10%;
}

.link_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}

.link_list li {
  list-style-type: none;
}

.bar {
  width: 100%;
}

.navbar .link_list li a {
  text-decoration: none;
  color: gray;
}

.navbar .link_list li a.active {
  color: black;
  font-weight: 900;
}

/* rockets section */

.card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.image-container {
  flex: 0 0 auto;
  margin-right: 20px;
}

.image-container img {
  width: 210px;
  height: auto;
}

.content {
  flex: 1 1 auto;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  margin-bottom: 10px;
}

.reservation-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
