.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  padding-left: 5%;
  padding-right: 5%;
}

.logo-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  width: 10%;
}

.link_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}

.link_list li {
  list-style-type: none;
}

.bar {
  width: 100%;
}

.navbar .link_list li a {
  text-decoration: none;
  color: gray;
}

.navbar .link_list li a.active {
  color: black;
  font-weight: 900;
}